.metadata
bin/
elixr-master/
fanciful-master/
Prism-Bukkit-master/
elixr/
Prism-Bukkit/
WebCore/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
LampControl/src/cz/ceph/lampcontrol/workers/SwitchMaterial.java
LampControl/src/cz/ceph/lampcontrol/workers/SwitchBlock.java
LampControl/src/cz/ceph/lampcontrol/workers/GetBlock.java
LampControl/src/cz/ceph/lampcontrol/utils/VersionChecker.java
LampControl/src/cz/ceph/lampcontrol/utils/SoundPlayer.java
LampControl/src/cz/ceph/lampcontrol/utils/ChatWriter.java
LampControl/src/cz/ceph/lampcontrol/localization/Localization.java
LampControl/src/cz/ceph/lampcontrol/listeners/LampListener.java
LampControl/src/cz/ceph/lampcontrol/LampControl.java
LampControl/src/cz/ceph/lampcontrol/events/ReflectPlayerInteractEvent.java
LampControl/src/cz/ceph/lampcontrol/events/ReflectEvent.java
LampControl/src/cz/ceph/lampcontrol/config/MainConfig.java
LampControl/src/cz/ceph/lampcontrol/config/BaseConfiguration.java
LampControl/src/cz/ceph/lampcontrol/commands/ReloadCommand.java
LampControl/src/cz/ceph/lampcontrol/commands/OnCommand.java
LampControl/src/cz/ceph/lampcontrol/commands/OffCommand.java
LampControl/src/cz/ceph/lampcontrol/commands/ListMaterialsDev.java
LampControl/src/cz/ceph/lampcontrol/commands/HelpCommand.java
LampControl/src/cz/ceph/lampcontrol/commands/core/RegisterCommand.java
LampControl/src/cz/ceph/lampcontrol/commands/core/IRegexCommand.java
LampControl/src/cz/ceph/lampcontrol/commands/core/ICommandHandler.java
LampControl/src/cz/ceph/lampcontrol/commands/core/ICommand.java
LampControl/src/cz/ceph/lampcontrol/commands/core/IBasicCommand.java
LampControl/src/cz/ceph/lampcontrol/commands/core/CommandHandler.java
LampControl/src/cz/ceph/lampcontrol/commands/core/CommandException.java
LampControl/src/cz/ceph/lampcontrol/commands/ControlCommand.java
